<div>
  <div class="login-modal-content">
    <div class="flex items-center justify-center bg-gray-100">
      <div class="max-w-sm w-96 space-y-4">
        <div>
          <h2 class="mt-6 text-center text-3xl font-serif text-gray-900">
            Edit Profile
          </h2>
        </div>
        <!-- Sign In Form -->
        <div>
          <form>
            <div class="pb-3">
              <label for="email" class="sr-only">User Name</label>
              <input
                formControlName="userName"
                type="text"
                autocomplete="email"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="User Name"
              />
            </div>
            <div class="pb-3">
              <label for="password" class="sr-only">Email</label>
              <input
                formControlName="userName"
                type="email"
                autocomplete="email"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Email"
              />
            </div>
            <div>
              <label for="location" class="sr-only">Location</label>
              <input
                formControlName="location"
                type="text"
                autocomplete="location"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Location"
              />
            </div>
            <div>
              <button
                (click)="updateProfile()"
                type="submit"
                class=" group relative w-full flex justify-center my-6 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Update
              </button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>

