<div class="grid mt-5 h-screen main-sec">
  <div style="margin-left: 15px" class="col-span-4 post-sec bg-white">
    <div class="search-container mr-4 ml-4">
      <input
        (input)="searchPosts(searchInput.value)"
        #searchInput
        type="text"
        class="rounded-md border search-input w-full"
        placeholder="Search..."
      />
      <button class="search-button" (click)="searchPosts(searchInput.value)">
        {{ "search" | translate }}
      </button>
    </div>
    <div class="grid grid-rows-1 md:grid-rows-2 lg:grid-rows-3 gap-4 p-5">
      <div
        style="height: 340px"
        *ngFor="let post of filteredPosts"
        class="bg-white rounded shadow-black p-7 shadow-md"
      >
        <div>
          <div style="height: 220px; font-family: Playfair Display, serif">
            <h2 style="font-size: 30px" class="font-bold">
              {{ post.title }}
            </h2>
            <p style="font-size: 20px" class="text-gray-500">
              {{ post.description }}
            </p>

            <div class="flex justify-between mt-3">
              <p
                style="font-size: 16px; font-family: Playfair Display, serif"
                class="text-gray-600"
              >
                {{ post.body }}
              </p>
            </div>
          </div>
          <div class="flex flex-col float-left">
            <p class="float-right">
              {{
                post.postGenderType === PostGenderType.Male
                  ? "MALE"
                  : post.postGenderType === PostGenderType.Female
                  ? "FEMALE"
                  : "UNISEX"
              }}
            </p>
            <!-- <p>{{ post. }}</p> -->
          </div>
          <div class="flex flex-col float-right">
            <p class="float-right">
              {{ post.createdDate | date : "dd-MM-yyyy" }}
            </p>
            <button
              style="background-color: cornflowerblue"
              (click)="viewPost(post)"
              class="mt-4 rounded-3xl hover:bg-green-700 text-white py-2 px-4 rounded float-right"
            >
              {{ "readmore" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1 shadow-sm p-4 news-sec fixed top-0 bottom-0 bg-white">
    <h1
      [@blink]="colorState"
      style="
        font-family: Playfair Display, serif;
        font-size: 35px;
        font-weight: bold;
      "
    >
      🎉{{ "win" | translate }}🎉
    </h1>
    <h1
      [@blink]="colorState"
      style="
        font-size: 26px;
        font-weight: normal;
        font-family: Playfair Display, serif;
      "
    >
      {{ "cashprice" | translate }}
    </h1>
    <span
      style="font-family: Playfair Display, serif"
      class="mt-3 mb-3 text-justify"
    >
      {{ "cashpricetext" | translate }}

      <span class="text-red-600">{{ "eldercarechampion" | translate }}</span>
    </span>

    <img width="200" src="../../../../../assets/home/home_pic.jpg" alt="" />
  </div>
</div>
