/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "material-icons/iconfont/material-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.model-preview {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 12px;
  }

  .ql-snow.ql-disabled .ql-editor {
    background: #fff !important;
    border: none !important;
    padding-top: 0;
  }

  .ql-snow.ql-disabled {
    border: none !important;
  }
}

/* Custom Snackbar Styles */
.custom-error {
  background-color: #f44336;
  /* Red */
}

.custom-success {
  background-color: #4caf50;
  /* Green */
}

.mat-primary {
  color: #2196f3;
  /* Blue */
}

mat-error {
  font-size: 12px;
}

.en {
  font-weight: bold;
  font-size: 15px;
  font-family: Playfair Display, serif;
  color: #c5a332;
  font-family: "Arial", sans-serif;
}

.tl {
  color: #c5a332;
  font-family: "Latha", sans-serif;
  font-size: 15px !important;
}

.sl {
  color: #c5a332;
  font-family: "FM_Malithi Sinhala Font", sans-serif !important;
  font-size: 15px !important;
//   span {
//     font-size: 8px !important;
//   }
}
