/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'material-icons/iconfont/material-icons.css';

.model-preview {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 12px;
    }

    .ql-snow.ql-disabled .ql-editor {
        background: #fff !important;
        border: none !important;
        padding-top: 0;
    }

    .ql-snow.ql-disabled {
        border: none !important;
    }
}