<div>
  <div class="login-modal-content">
    <div class="flex items-center justify-center bg-gray-100">
      <div style="width: 52rem" class="">
        <div>
          <h2 class="mt-6 text-center text-3xl font-serif text-gray-900">
            {{ title }}
          </h2>
        </div>
        <!-- Sign In Form -->
        <div>
          <form [formGroup]="detailsForm">
            <div class="pb-3">
              <label for="title" class="sr-only">Post Title</label>
              <input
                formControlName="title"
                type="text"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Post Title"
              />
            </div>
            <div class="pb-3">
              <label for="description" class="sr-only">Description</label>
              <input
                formControlName="description"
                type="text"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Description"
              />
            </div>
            <label id="example-radio-group-label flex-row"
              >Gender (service for)</label
            >
            <div class="pb-3">
              <mat-radio-group
                formControlName="postGenderType"
                class="pb-3"
                aria-label="Select an option"
              >
                <mat-radio-button [value]="0">Male</mat-radio-button>
                <mat-radio-button [value]="1">Female</mat-radio-button>
                <mat-radio-button [value]="2">Unisex</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="pb-3">
              <label for="body" class="sr-only">Body</label>
              <textarea
                formControlName="body"
                type="text"
                class="h-40 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Body"
              ></textarea>
            </div>

            <div>
              <button
                (click)="createPost()"
                type="submit"
                class="group relative w-full flex my-6 justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Create a Post
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
