<div class="model">
  <div class="login-modal-content">
    <div class="flex items-center justify-center bg-gray-100">
      <div class="w-full space-y-4">
        <mat-progress-bar *ngIf="apiLoading" mode="indeterminate"></mat-progress-bar>
        <div>
          <h2 class="mt-6 text-center text-3xl font-serif text-gray-900">
            Password Reset
          </h2>
        </div>
        <div  class="p-5">
          <form [formGroup]="detailsForm">
            <div class="pb-3">
              <label for="password" class="sr-only">Password</label>
              <input
                id="password"
                formControlName="password"
                type="text"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Password"
              />
              <mat-error *ngIf="checkError('password', 'required')">Required</mat-error>

            </div>

            <div class="pb-3">
              <label for="confirmPassword" class="sr-only">Confirm Password</label>
              <input
                id="confirmPassword"
                formControlName="confirmPassword"
                type="text"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Confirm Password"
              />
              <mat-error *ngIf="checkError('confirmPassword', 'mustMatch')">Confirm Password Not Match </mat-error>

            </div>

            <div>
              <button
                (click)="updateProfile()"
                type="submit"
                class=" group relative w-full flex justify-center my-6 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Update
              </button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>

