.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  overflow: hidden;
}
.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  background-color: #0a5d04;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #00b33f;
}

table {
  width: 100%;
}

.table-container {
  height: 30rem;
  display: block;
  overflow-y: auto;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  background: white;
}

.mat-mdc-header-row {
    background: #d1d1d1;
    color: #060606;
}