.drawer-container{
  height: 90vh;
  .side-bar{
    width: 235px;

    .welcome-text{
      position: absolute;
      top: 50px;
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
    }

    .filters-checks{
      div{
        input{
          margin-right: 10px;
        }
      }
    }
  }
}
.menu{
  background: azure;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button{
    width: 100%;
    margin-bottom: 5px;
  }
}

.custom-speed-progress-bar ::ng-deep .mat-progress-bar-primary {
    animation-duration: 0.1s !important;  /* Adjust the time as desired */
}

.custom-speed-progress-bar ::ng-deep .mat-progress-bar-buffer {
    animation: mat-progress-bar-buffer 0.1s infinite !important;  /* Adjust the time as desired */
}

.custom-speed-progress-bar ::ng-deep .mat-progress-bar-fill::after {
    animation: none !important;
}
