<div style="background-color: #133f59" class="p-4 fixed top-0 w-full z-10">
  <nav class="flex items-center justify-between">
    <div class="text-white text-2xl font-semibold">ELDER CARE</div>
    <ul class="flex space-x-4 pr-8">
      <li><a [routerLink]="'..'" class="text-white">Home</a></li>
      <li>
        <a (click)="navigateToProfile()" class="text-white cursor-pointer"
          >Profile</a
        >
      </li>

      <li *ngIf="localStorage.getItem('roleType') == '1'">
        <a
          [routerLink]="'admin-panel'"
          (click)="navigateToAdminPanel()"
          class="text-white cursor-pointer"
          >Admin Panel</a
        >
      </li>
      <li *ngIf="localStorage.getItem('token')" class="ml-2">
        <a
          disabled
          (click)="logout()"
          class="text-orange-500 pr-3 pl-3 p-1 rounded-sm text-center cursor-pointer"
          >LOGOUT</a
        >
      </li>
    </ul>
  </nav>
</div>

<mat-drawer-container class="drawer-container">
  <mat-drawer class="side-bar" mode="side" opened>
    <div class="col-span-1">
      <img src="../../../../../assets/home/nav-bar-img.png" alt="" />
      <h2
        class="welcome-text"
        style="font-family: Playfair Display, serif; color: #c5a332"
      >
        Hi, Welcome
      </h2>
      <div class="m-5">
        <div class="mb-10">
          <h1
            style="font-family: Playfair Display, serif"
            class="text-lg text-black mb-2"
          >
            About Us
          </h1>
          <p style="font-family: Playfair Display, serif" class="text-justify">
            Welcome to the Elder Care App, the platform you can trust for
            comprehensive elder care solutions. Our aim is to combine compassion
            and cutting-edge technology to serve the unique needs of our senior
            community. We are dedicated to ensuring the well-being and comfort
            of every elder and individual requiring care.
          </p>
          <h1 class="text-lg text-black mb-2"></h1>
          <p></p>
        </div>
        <div *ngIf="router.url == '/url'" class="filters-checks">
          <h3>Filter By</h3>
          <div class="form-check m-3">
            <input type="checkbox" class="form-check-input" id="priceLowest" />
            <label class="form-check-label" for="priceLowest"
              >PriceLowest</label
            >
          </div>
          <div class="form-check m-3">
            <input type="checkbox" class="form-check-input" id="fullTime" />
            <label class="form-check-label" for="fullTime">FullTime</label>
          </div>
          <div class="form-check m-3">
            <input type="checkbox" class="form-check-input" id="partTime" />
            <label class="form-check-label" for="partTime">Part time</label>
          </div>
          <div class="form-check m-3">
            <input type="checkbox" class="form-check-input" id="location" />
            <label class="form-check-label" for="location">Location</label>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="
        router.url.concat('admin-panel') &&
        router.url !== '/hero' &&
        router.url !== '/hero/my-profile'
      "
      class="menu"
    >
      <button [routerLink]="'/hero/admin-panel/post'" mat-raised-button>
        Post
      </button>
      <button [routerLink]="'/hero/admin-panel/user'" mat-raised-button>
        User
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
