<div class="bg-blue-950 p-4 fixed top-0 w-full z-10">
  <nav class="flex items-center justify-between">
    <div class="text-white text-2xl font-semibold">ELDER CARE</div>
    <ul class="flex space-x-4 pr-8">
      <li><a class="text-white">Home</a></li>
      <li>
        <a [routerLink]="'about'" class="text-white cursor-pointer">Posts</a>
      </li>
      <li>
        <a [routerLink]="'profile'" class="text-white cursor-pointer"
        >Profile</a
        >
      </li>
      <li *ngIf="true" class="ml-2">
        <a
          disabled
          (click)="openDialog()"
          class="text-black font-mono pr-3 pl-3 p-1 rounded-sm text-center cursor-pointer bg-orange-600"
        >Login</a
        >
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
