<div class="model">
  <div class="login-modal-content">
    <div class="flex items-center justify-center bg-gray-100">
      <div class="w-96 space-y-4">
        <div>
          <h2 class="mt-6 text-center text-3xl font-serif text-gray-900">
            Edit Profile
          </h2>
        </div>
        <div>
          <form [formGroup]="detailsForm">
            <div class="row-form">
              <div class="pb-3">
                <label for="firstName" class="sr-only">First Name</label>
                <input
                  id="firstName"
                  formControlName="firstName"
                  type="text"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="User Name"
                />
                <mat-error *ngIf="checkError('firstName', 'required')">Required</mat-error>

              </div>

              <div class="pb-3">
                <label for="lastName" class="sr-only">Last Name</label>
                <input
                  id="lastName"
                  formControlName="lastName"
                  type="text"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="Last Name"
                />
                <mat-error *ngIf="checkError('lastName', 'required')">Required</mat-error>

              </div>
            </div>

            <div class="row-form">
              <div class="pb-3">
                <label for="email" class="sr-only">Email</label>
                <input
                  id="email"
                  formControlName="email"
                  type="email"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="Email"
                />
                <mat-error *ngIf="checkError('email', 'required')">Required</mat-error>

              </div>

              <div class="pb-3">
                <label for="phone" class="sr-only">Phone</label>
                <input
                  id="phone"
                  formControlName="phone"
                  type="text"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="phone"
                />
                <mat-error *ngIf="checkError('phone', 'required')">Required</mat-error>

              </div>
            </div>

            <div class="row-form">


              <div class="pb-3">
                <label for="address" class="sr-only">Address</label>
                <input
                  id="address"
                  formControlName="address"
                  type="text"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="Address"
                />
                <mat-error *ngIf="checkError('address', 'required')">Required</mat-error>

              </div>

              <div class="pb-3">
                <label for="city" class="sr-only">City</label>
                <input
                  id="city"
                  formControlName="city"
                  type="text"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="City"
                />
                <mat-error *ngIf="checkError('city', 'required')">Required</mat-error>

              </div>
            </div>

            <div class="row-form">


              <div class="pb-3">
                <label for="username" class="sr-only">User Name</label>
                <input
                  id="username"
                  formControlName="username"
                  type="text"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="User name"
                />
                <mat-error *ngIf="checkError('username', 'required')">Required</mat-error>

              </div>

              <div style="width: 48%;">
                <label for="about" class="sr-only">About</label>
                <textarea
                  id="about"
                  formControlName="about"
                  type="text"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="About"></textarea>
                <mat-error *ngIf="checkError('about', 'required')">Required</mat-error>

              </div>
            </div>

            <div>
              <button
                (click)="updateProfile()"
                type="submit"
                class=" group relative w-full flex justify-center my-6 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Update
              </button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>

